body {
    background-color: black;
	font-family: Roboto;
}

#container {
	text-align: center;
	width: 800 px;
	margin-top: 100px;
}

h1 {
	font-size: 50px;
}

a {
	text-decoration: none;
	color: white;
}

#bg img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#logo {
	width: 400px;
	margin-bottom: 50px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 60px;
}

#footer p {
	color: gray;
	text-align: center;
}