body {
    background-color: black;
	font-family: Roboto;
}

#container {
	text-align: center;
	width: 800 px;
	margin-top: 100px;
}

h1 {
	font-size: 50px;
}

a {
	text-decoration: none;
	color: white;
}

#bg img {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -1;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#logo {
	width: 300px;
	margin-bottom: 50px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 60px;
}

#footer p {
	color: white;
	text-align: center;
}